/**
  Style.css 
  style for all html pages of smetz.co.nz
  Author: Sara Metz
**/

html, body {
  height: 100%;
  font-size: 15px;
  overflow-x:hidden;
}

h1, h2, h3, h4{
  font-family: 'Philosopher', sans-serif; 
}

h5 {
  font-size: 16px;
}

h5, p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#brand {
  width:100%;
  padding: 0.2em 0em;
  margin-top: 0px;
  font-family: 'Philosopher', sans-serif; 
  text-align: center;
}

#brand h5{
  font-family: 'Philosopher', sans-serif; 
}

#sidebar {
  border-right: 1px solid #eaeaea;
}

#static-nav {
  z-index: 100;
}

#nav-container {
  position:absolute;
  top: 50%;
  width: 100%;
  left:0px;  
  margin-top: -83px;
}

#sm-nav {
  width:100%;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color:#000;
}

#sm-nav .active {
  color:#91b8a3;
}

.nav > li > a:focus, .nav > li > a:hover  {
    background:#f8f8f8;
}

.nav a, .nav a:hover { 
  color:inherit;
}

#intro {
  position: absolute;
  top:50%;
  margin: 0px 25%;
  text-align: center;
}

#home {
  background: #b7d9c0;
}



#portfolio .project-cell {
  background: #dededc;
  margin: 30px;
  overflow: hidden;
  position:relative;
}

#portfolio .col-sm-4 { 
  padding:0px;
}

.project-thumb {
  max-width:100%;
  max-height:100%;
}

#portfolio .project-cell .project-title{
  background: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1);
  text-align: center;
  padding: 15px;
  overflow: hidden;
  width:100%;
  position: absolute;
  bottom: -100%;
  display: table;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.project-title h5{
  display: table-cell;
  vertical-align: middle;
}

#portfolio .project-cell:hover .project-title, #portfolio .project-cell:focus .project-title {
  background: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1);
  bottom:0px;
}

.project-btn{
  border: 1px solid #000;
  color:#000;
  background: #fff;
  padding: 5px 15px;
  margin: 0 auto;
}

#carousel-controls{
  padding-top: 20px;
  margin: 0 auto;
  width:100%;
  position: relative;
}

#carousel-left-btn{
  position: absolute;
  right: 50%;
  right: calc(50% + 10px);
}

#carousel-right-btn{
  position: absolute;
  left:50%;
  left: calc(50% + 10px);
}

.carousel-inner{
  padding:50px 0;
}

#all-proj-btn{
  position: absolute;
  bottom: 100%;
  right: 10px;
}

#project-title{
  position: absolute;
  bottom: 100%;
  left: 10px;
}

.carousel-indicators{
  bottom: -10px;
}

.carousel-indicators .active{
  background-color: #000;
}

.carousel-indicators li{
  border-color: #000;
}

#footer {
  background: #000;
  color: #fff;
}



#hr-first, #hr-second, #hr-third {
  position: absolute; 
  height: 100%;
  top: 0px;
  border-left: 1px solid #d1d1d1;
  z-index: 1;
  color: #d1d1d1;
  padding-left: 10px;
}

#skills-text {
  position: relative;
  top: 0px;
}

@media(min-width: 992px){
  #skills-text{
    padding: 0px 20px;
  }
}

@media(min-width:1200px;){
  #skills-text{
    padding: 0px 60px;
  }
}


#skills-graph{
  position: relative;
}

#hr-first { margin-left: 30%;}
#hr-second { margin-left: 60%;}
#hr-third { margin-left: 90%;}

.skill-bar{
  position: relative;
  background-color: #b7d9c0;
  z-index: 5;
}

#java { width: 89%; }
#python { width: 85%; }
#obj-c { width: 80%; }
#html { width: 76%; }
#javascript { width: 75%; }
#css { width: 70%; }
#cpp { width: 40%; }
#c-sh { width: 35%; }


@media(min-width: 768px) {
  #static-nav{
    position:fixed;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
  }

  #sidebar {
    position:absolute;
    top:0%;
    right:0%;
    height:100%;
  }

  #home {
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
  }

  #content-wrapper{
    position:fixed;
    left:100%;
    top:0%;
    height:100%;
    width:100%;
  }

  #content{
    position: relative;
    height:100%;
    overflow-y: hidden;
    padding:0 0px;
  }

  #about {
    position:relative;
  }

  #about-container{
    position: absolute;
    top: 50%;
  }

  #portfolio{
    position: relative;
  }

  #project-grid{
    position: absolute;
    top: 50%;
  }

  #project-carousel{
    position: absolute;
    top: 50%;
  }

}

@media(max-width:767px){
  
  #sidebar {
    position: absolute;
    height:50%;
  }

  #home-small{
    position: relative;
    background: #b7d9c0;
  }

  #content-wrapper{
    position: relative;
  }

  #content{
    position: relative;
    overflow: hidden;
    padding:0px;
  }

  #portfolio, #about{ 
    padding:15px;
  }

  #skills-text{
    padding: 0px 10px;
  }
}

#small-homepage{
  text-align: center;
}

#intro-small{
  position: absolute;
  top:50%;
}

#small-nav .active {
  color:#91b8a3;
}

#links-list{
  text-align: center;
  padding: 0;
  margin-top:10px;
}

#links-list li {
  display: inline-block;
}